.tasklist-content {
  margin-top: 44px;
  width: 100%;
}

.tasks {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0;
}

.table-info {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  height: 40px;
  align-items: center;
}

Button {
  height: 40px;
}

.update-button {
  width: 80px;
}

.completed {
  text-decoration: line-through;
}

@media screen and (max-width: 1200px) {
  .tasks {
    flex-direction: column;
  }

  .tasklist-content {
    margin-top: 24px;
  }

  .table-info {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 20px;
  }

  Button {
    width: 100%;
  }
}
